@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  font-family: Poppins;
}

.btnGroup {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.btn {
  font-size: 1rem;
  font-weight: 500;

  padding-inline: 0.8em;
  padding-block: 0.5em;

  border-radius: 0.4rem;
  border: 0;

  background-color: hsl(0, 0%, 25%);
  color: hsl(0, 0%, 95%);
  color: hsl(0, 0%, 95%);
}

button:hover,
button:focus-visible {
  cursor: pointer;
  scale: 1.02;

  transition: scale linear 200ms;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;

  a {
    text-decoration: none;
    color: hsl(0, 0%, 0%);
    width: 80%;
  }

  .cardHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    h2 {
      font-size: 1.1rem;
      font-weight: 400;
    }
  }

  .cardFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    a.btn {
      color: hsl(0, 0%, 95%);
    }
    .price {
      font-weight: 300;
      letter-spacing: 0.1ch;
    }
  }
}

.img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1;
  border-radius: 0.4rem;
}

h1 {
  font-weight: 500;
}
.heading-lg {
  font-size: 1.8rem;
  letter-spacing: 0.1ch;
}

.heading-md {
  font-size: 1.4rem;
  letter-spacing: 0.05ch;
}

h1.products,
h1.cart {
  margin: 0 auto;
  width: max-content;
  padding-block: 1rem;
}

.itemDisplay {
  display: grid;
  gap: 2rem;
  place-items: center;
  padding: 1.5rem;

  grid-template-areas: 'heading' 'img' 'info' 'price';

  h1 {
    grid-area: heading;
  }

  .itemInfo {
    grid-area: info;
  }

  .buy {
    display: flex;
    align-items: center;
    gap: 1rem;
    grid-area: price;

    .btn {
      scale: 1.2;
    }
  }

  img {
    grid-area: img;
    width: 80%;
    max-width: 500px;
    min-width: 200px;
  }

  .inStock {
    color: hsl(120, 100%, 25%);
  }

  .outOfStock {
    color: hsl(0, 100%, 50%);
  }
}

@media screen and (min-width: 640px) {
  .itemDisplay {
    margin: 0 auto;
    width: fit-content;
    grid-template-areas: 'heading img' 'info img' 'price img';

    h1 {
      place-self: start;
    }

    .buy {
      place-self: end;
    }
  }
}

.cartDisplay {
  ul {
    list-style: none;
  }
}
